#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
}
.overlay {
    background-color:#000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */
    filter: alpha(opacity=50); /* in IE */
}